.headerContainer{  
    width:100%;
    font-family: Arial;
}
.bodyContainer{
    margin: 50px auto;
    padding: 70px;
    background-color: coral;
    font-family: Arial;
    line-height: 1.6;
}
.navbar{
    width:100%;
    float: left;
}
.navbar .empty{
    width:30%;
    float: left;
}
.navbar_button{
    width:50%;
    height:20px;
    float: left;
    text-align: center;
    text-decoration: none;
    font-family: Arial;
    color:white;
    background-color:#0076fb;
}
